<div >
  <h1>Enter 1 time code we sent you</h1>
  <div class="col-md-6 offset-3">
    <%= form_with(url: user_path(@user)) do |f| %>

      <%= f.label :authentication_number %>
      <%= f.number_field :authentication_number %>

      <%= f.submit "Submit", class: " mt-2 btn btn-primary" %>
    <% end %>
    <%= flash[:success] %>
  </div>
</div>