<h1>History</h1>
<div class="table">
  <table style="width:100%">
    <thead>
      <tr>
        <th style="width:60%" id="desc-header">Description</th>
        <th>Amount</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>    
      <% @transactions.each do |transaction| %>
        <tr>
          <td id="desc-row"><%= transaction.description %></td>
          <td><%= prefix_sign(transaction) %> <%= transaction.amount %></td>
          <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @transactions %>
</div>
